
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<form befoys-url="/api/Register/Registeration" befoys-ajax="true" befoys-method="POST" befoys-OnSuccess="OnSuccess" befoys-OnBefore="OnBefore">

    <input class="form-control" name="mobile" />

    <button befoys-ajax="true" class="btn btn-success" type="submit">ورود</button>
</form>

<script>
    function OnSuccess(response) {
        window.location.href = "@Url.Action("Verify")?mobile="+$("input[name=mobile]").val();

    }
    function OnBefore() {
    }
</script>

