@model BEFOYS.DataLayer.Model.TblColors
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
        var groups = ViewBag.ColorGroup as List<SelectListItem>;
}

<div class="modal-main">

    <form asp-action="Create">
        <div class="form-group">
            <label class="control-label">گروه</label>
            <select asp-for="ColorsCgid" class="form-control text-center"  asp-items="groups">

            </select>
            <span asp-validation-for="ColorsCgid" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">نوع</label>
            <select asp-for="ColorsTypeCodeId" class="form-control text-center">
                <option value="43">HEX</option>
                <option value="44">RGB</option>
                <option value="45">RGBa</option>
            </select>
            <span asp-validation-for="ColorsTypeCodeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">نام</label>
            <input asp-for="ColorsName" class="form-control text-center" />
            <span asp-validation-for="ColorsName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">مقدار</label>
            <input asp-for="ColorsValue" class="form-control text-center" />
            <span asp-validation-for="ColorsValue" class="text-danger"></span>
        </div>
        <input type="submit" value="افزودن" class="btn btn-block btn-primary" />
    </form>

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>