@model BEFOYS.DataLayer.Model.TblOrganizationTransport
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>Create</h1>

<h4>TblOrganizationTransport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OtId" class="control-label"></label>
                <input asp-for="OtId" class="form-control" />
                <span asp-validation-for="OtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtGuid" class="control-label"></label>
                <input asp-for="OtGuid" class="form-control" />
                <span asp-validation-for="OtGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtOrganizationId" class="control-label"></label>
                <input asp-for="OtOrganizationId" class="form-control" />
                <span asp-validation-for="OtOrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtProvinceId" class="control-label"></label>
                <input asp-for="OtProvinceId" class="form-control" />
                <span asp-validation-for="OtProvinceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtMinInvoicePrice" class="control-label"></label>
                <input asp-for="OtMinInvoicePrice" class="form-control" />
                <span asp-validation-for="OtMinInvoicePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtMinInvoicePriceFree" class="control-label"></label>
                <input asp-for="OtMinInvoicePriceFree" class="form-control" />
                <span asp-validation-for="OtMinInvoicePriceFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtPrice" class="control-label"></label>
                <input asp-for="OtPrice" class="form-control" />
                <span asp-validation-for="OtPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

