
@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

@section Styles {
    <!-- Font Material stylesheet -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Select2 stylesheet -->
    <link href="~/node_modules/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/css/jQuery.Select2/select2.min.css" rel="stylesheet">
    <link href="~/css/jQuery.Select2/select2-bootstrap.css" rel="stylesheet">
    <!-- Form stylesheet -->
    <link href="~/css/jumbo-forms.css" rel="stylesheet">
    <!-- Jumbo-core stylesheet -->
    <link href="~/css/jumbo-core.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="~/css/jumbo-core-custom.css" rel="stylesheet">
}

<div class="main-section-loader"></div>
<img src="~/images/Logo-Blue.png" alt="logo" class="main-section-blue-logo-spinner" />
<div class="main-section-spinner-backdrop"></div>

<div class="main-section-header">
    <div class="main-section-header-descs">
        <h5 class="main-section-header-title">ثبت نام تامین کنندگان</h5>
        <p class="main-section-header-subtitle">حقیقی</p>
    </div>
</div>
<div class="main-section-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="gx-card-body">
                <div id="rootwizard-2">
                    <div class="wizard-navbar">
                        <ul>
                            <li class="active"><a class="active show" href="#tab2-1" data-toggle="tab"><span class="wz-number">1</span> <span class="wz-label">اطلاعات کاربری</span></a></li>
                            <li><a href="#tab2-2" data-toggle="tab"><span class="wz-number">2</span> <span class="wz-label">اطلاعات شرکت</span></a></li>
                            <li><a href="#tab2-3" data-toggle="tab"><span class="wz-number">3</span> <span class="wz-label">آپلود مدارک</span></a></li>
                            <li><a href="#tab2-4" data-toggle="tab"><span class="wz-number">4</span> <span class="wz-label">قرارداد</span></a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab2-1">
                            <form id="step1" class="form-wizard validate-form-wizard validate">
                                <h3>اطلاعات کاربری</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="FirstName" class="control-label">نام</label>
                                            <input type="text" class="form-control" name="FirstName" id="FirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="LastName" class="control-label">نام خانوادگی</label>
                                            <input type="text" class="form-control" name="LastName" id="LastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Email" class="control-label">ایمیل</label>
                                            <input type="text" class="form-control" name="Email" id="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Password" class="control-label">رمز عبور</label>
                                            <input type="password" class="form-control" name="Password" id="Password">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h3>اطلاعات شخصی</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="NationalCode" class="control-label">کد ملی</label>
                                            <input type="text" class="form-control" name="NationalCode" id="NationalCode">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Gender" class="control-label">جنسیت</label>
                                            <select class="form-control select2" name="Gender" id="Gender">
                                                <option value="1">مرد</option>
                                                <option value="2">زن</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row" style="margin: 0;">
                                            <label for="Birthday" class="control-label">تاریخ تولد</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control select2" name="Day" id="Day">
                                                        @for (int i = 1; i <= 31; i++)
                                                        {
                                                            <option value="@(i < 10 ? "0"+ i.ToString() : i.ToString())">@i</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control select2" name="Month" id="Month">
                                                        <option value="01">فروردین</option>
                                                        <option value="02">اردیبهشت</option>
                                                        <option value="03">خرداد</option>
                                                        <option value="04">تیر</option>
                                                        <option value="05">مرداد</option>
                                                        <option value="06">شهریور</option>
                                                        <option value="07">مهر</option>
                                                        <option value="08">آبان</option>
                                                        <option value="09">آذر</option>
                                                        <option value="10">دی</option>
                                                        <option value="11">بهمن</option>
                                                        <option value="12">اسفند</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control select2" name="Year" id="Year">
                                                        @for (int i = 1300; i <= 1400; i++)
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h3>اطلاعات تماس</h3>
                                <div class="address-info" id="address-info1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="state0" class="control-label">استان</label>
                                                        <select class="form-control select2" name="Addresses[0].StateName" id="state0">
                                                            <option value="Tehran">تهران</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="city0" class="control-label">شهر</label>
                                                        <select class="form-control select2" name="Addresses[0].CityName" id="city0">
                                                            <option value="Tehran">تهران</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="address0" class="control-label">آدرس</label>
                                                    <textarea id="address0" name="Addresses[0].Address" class="form-control address" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="telephone0_0" class="control-label">تلفن ثابت</label>
                                                <div class="row">
                                                    <div class="col-md-12 d-flex telephone">
                                                        <input type="text" class="form-control" name="Addresses[0].phones[0].PhoneValue" id="telephone0_0">
                                                    </div>
                                                </div>
                                                <div class="add d-flex mt-3" id="addTelephone">
                                                    <a href="javascript:void(0)"><i class="zmdi zmdi-plus zmdi-hc-fw"></i>&nbsp;افزودن تلفن ثابت</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add d-flex mt-4" id="addAddress">
                                    <a href="javascript:void(0)"><i class="zmdi zmdi-plus zmdi-hc-fw"></i>&nbsp;افزودن آدرس</a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab2-2">
                            <form id="step2" class="form-wizard validate-form-wizard validate">
                                <h3>اطلاعات شرکت</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="OrganizationName" class="control-label">نام تجاری</label>
                                            <input type="hidden" value="31" name="infoes[4].TypeCodeId">
                                            <input type="text" class="form-control" typeCodeId="infoes[31].TypeCodeId" name="infoes[4].Value" id="OrganizationName">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h3>اطلاعات مالی</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="IRCode" class="control-label">شماره شبا</label>
                                            <input type="hidden" value="12" name="infoes[0].TypeCodeId">
                                            <input type="text" class="form-control" typeCodeId="infoes[12].TypeCodeId" name="infoes[0].Value" id="IRCode">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="AccountNumber" class="control-label">شماره حساب</label>
                                            <input type="hidden" value="13" name="infoes[1].TypeCodeId">
                                            <input type="text" class="form-control" typeCodeId="infoes[13].TypeCodeId" name="infoes[1].Value" id="AccountNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="AccountOwner" class="control-label">نام دارنده حساب</label>
                                            <input type="hidden" value="33" name="infoes[2].TypeCodeId">
                                            <input type="text" class="form-control" typeCodeId="infoes[33].TypeCodeId" name="infoes[2].Value" id="AccountOwner">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <br>
                                        <div class="form-group text-row-between">
                                            <div class="custom-control custom-checkbox ml-2">
                                                <input type="hidden" value="14" name="infoes[3].TypeCodeId">
                                                <input type="checkbox" name="infoes[3].Value" typeCodeId="infoes[14].TypeCodeId" id="ValueAddedCertificate">
                                                <label class="custom-control-label" for="ValueAddedCertificate">گواهی ارزش افزوده</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab2-3">
                            <form id="step3" class="form-wizard validate-form-wizard validate">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert-info mb-4" style="padding: 7.5px 10px 7.5px 0;">حداکثر حجم فایل های ارسالی 5 مگابایت است.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 control-label">اسکن صفحه اول شناسنامه</label>
                                    <div class="col-md-6">
                                        <div class="custom-file">
                                            <label class="custom-file-label" for="BirthCertificateScan">آپلود فایل</label>
                                            <input type="file" class="custom-file-input" id="BirthCertificateScan" name="BirthCertificateScan">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 control-label">اسکن کارت ملی</label>
                                    <div class="col-md-6">
                                        <div class="custom-file">
                                            <label class="custom-file-label" for="IdentityNumberScan">آپلود فایل</label>
                                            <input type="file" class="custom-file-input" id="IdentityNumberScan" name="IdentityNumberScan">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 control-label">اسکن جواز کسب</label>
                                    <div class="col-md-6">
                                        <div class="custom-file">
                                            <label class="custom-file-label" for="BusinessLicenseScan">آپلود فایل</label>
                                            <input type="file" class="custom-file-input" id="BusinessLicenseScan" name="BusinessLicenseScan">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab2-4">
                            <form id="step4" class="form-wizard validate-form-wizard validate">
                                <div class="form-group row">
                                    <label class="col-md-4 control-label">دسته بندی</label>
                                    <div class="col-md-4">
                                        <select class="select2-multiple form-control" name="select1[]" id="select1" multiple="multiple" data-placeholder="انتخاب کنید">
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="select2-multiple form-control" name="select2[]" id="select2" multiple="multiple" data-placeholder="انتخاب کنید">
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="pager wizard">
                            <li class="next"><a href="javascript:void(0)">بعدی<i class="icon-right-open"></i></a> </li>
                            <li class="previous"><a href="javascript:void(0)"><i class="icon-left-open"></i>برگشت</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!--Select2 JQuery-->
    <script src="~/node_modules/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/jQuery.Select2/select2.js"></script>
    <script src="~/js/jQuery.Select2/i18n/fa.js"></script>
    <script src="~/js/Select2_Config.js"></script>
    <!--Custom JQuery-->
    <script src="~/js/supplier.js"></script>
}
