
@{
    ViewData["Title"] = "SendReason";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SendReason</h1>

<form method="post">
    <textarea name="Text">

</textarea>
    <button type="submit">
        ثبت
    </button>
</form>
