@model Panel.ViewModels.Account.HoghoghiViewModel
@{
    ViewData["Title"] = "Step1";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

    <form method="post" enctype="multipart/form-data">

        <label>نام</label>
        <input asp-for="FirstName" class="form-control" value="" />
        <br />
        <label>نام خانوادگی</label>
        <input asp-for="LastName" class="form-control" name="LastName" value="" />
        <br />
        <label>ایمیل</label>
        <input asp-for="Email" class="form-control" value="" type="email" />

        <br />
        <label>رمزعبور</label>
        <input asp-for="Password" class="form-control" value="" type="password" />

        <br />
        <label>تکرار رمز عبور</label>
        <input asp-for="ConfirmPassword" class="form-control" value="" type="password" />

        <h4>اطلاعات شخصی</h4>
        <br />
        <label>کد ملی</label>

        <input asp-for="NationalCode" class="form-control" value="" />

        <br />
        <label>روز</label>
        <select asp-for="Day" class="form-control">
            <option value="01">01</option>
        </select>
        <br />
        <label>ماه</label>>
        <select asp-for="Month" class="form-control">
            <option value="1">فروردین</option>
        </select>

        <br />
        <label>سال</label>
        <select asp-for="Year" class="form-control">
            <option value="1398">1398</option>
        </select>
        <br />
        <label>جنسیت</label>
        <select asp-for="Gender" class="form-control" name="Gender">
            <option value="1">مرد</option>
            <option value="2">زن</option>
        </select>
        <br />
        <br />
        <br />


        <label>نام شرکت</label>

        <input class="form-control" name="FirstName" value="" />
        <br />
        <label>نوع شرکت</label>
        <input hidden name="infoes[0].TypeCodeId" value="7" />
        <select class="form-control" name="infoes[0].Value">
            <option value="سهامی عام">سهامی عام</option>
        </select>
        <br />
        <label>شماره ثبت</label>
        <input hidden name="infoes[1].TypeCodeId" value="3" />
        <input class="form-control" name="infoes[1].Value" value="" />

        <br />
        <label>شناسه ملی</label>
        <input hidden name="infoes[2].TypeCodeId" value="9" />
        <input class="form-control" name="infoes[2].Value" value="" />


        <br />
        <label>کد اقتصادی</label>
        <input hidden name="infoes[3].TypeCodeId" value="10" />
        <input class="form-control" name="infoes[3].Value" value="" />





        <div>
            <select name="Addresses[0].StateName">
                <option value="تهران">
                    تهران
                </option>
            </select>
            <select name="Addresses[0].CityName">
                <option value="تهران">
                    تهران
                </option>
            </select>
            <label>آدرس</label>
            <input name="Addresses[0].Address" />

            <div>
                <input name="Addresses[0].phones[0].PhoneValue" />
            </div>

        </div>
        <button class="btn btn-success" type="submit">ورود</button>
    </form>
<script>
    $(document).ready(function () {
        $("input[name=mobile]").val(GetParameterValues("mobile"));

    });
    function OnSuccess(response) {
    }
    function OnBefore() {

    }
</script>

