@model BEFOYS.DataLayer.Model.TblProductCategoryFeature
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BEFOYS.DataLayer.Model
@{
    var FeatureGroup = ViewBag.FeatureGroup as List<TblProductFeatureGroup>;
}


<div class="modal-main">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @foreach (var item in FeatureGroup)
        {
            <label>@item.PfgName</label>
            <input type="checkbox" name="ids" value="@item.PfgId" />
        }

        <input type="submit" value="Create" class="btn btn-block btn-primary" />

    </form>
</div>

