
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <style>
        nav-tabs .nav-link {
            border-radius:0px !important;
        }
    </style>

}



<div class="main-section-header">
    <div class="main-section-header-descs">
        <h5 class="main-section-header-title">برند ها</h5>
        <p class="main-section-header-subtitle"><br /></p>
    </div>
    <div class="main-section-header-icons">

    </div>
</div>



<div class="main-section-body" style="padding:0px;">
    <div class="" style="width:100%; height:auto; ">
        <ul class="nav nav-tabs nav-justified" style="padding-right:0px">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding:15px">
            <div class="tab-pane active" id="home" style="padding-bottom:10px">
                <div class="card card-body" style="border-radius:0px;border:none">
                    <div class="float-left setting-col-titel">
                         <i class="fas fa-edit"></i>
                        محل کتابخانه
                    </div>

                    <div class="float-right">
                        <a href="@Url.Action("","",  new { })" class="btn btn-primary btn-sm text-white layout-td-btn ml-1">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="@Url.Action("","",  new { })" class="btn btn-primary btn-sm text-white layout-td-btn ml-1">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="home" style="padding-bottom:10px">
                <div class="card card-body" style="border-radius:0px">

                </div>
            </div>
            <div class="tab-pane active" id="home" style="padding-bottom:10px">
                <div class="card card-body" style="border-radius:0px">

                </div>
            </div>
        </div>

    </div>
</div>
