@model List<SelectListItem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="form-control" asp-items="Model" name="MainCategoryID">
    <option>انتخاب نتماییید</option>
</select>


@section Scripts{ 

<script>

    loadcategories();
function loadcategories(id,elem) {

    $.ajax({
            url: "@Url.Content("~/Crm/ProductCategory/GetCategory")",
            data: {
                id: id
            },
            method: "GET"
            }).done(function (Result) {
                    console.log(Result);
                    if (Result.options.length != 0) {
                        CreateCategories(Result,elem);
                    }
                });

    }


    function CreateCategories(ss,elem) {

        for (var i = ($(elem).index()); i <= $("select[name=ProductPcid]").last().index(); i++) {

            $("select[name=ProductPcid][index=" + i + "]").remove();

        }

        var categoryIndex = $("select[name=ProductPcid]").last().index();

        var category = $("<select></select>").attr({ "name": "ProductPcid", "index": (categoryIndex), "isMain": (categoryIndex == -1 ? true : false),"onchange": "loadcategories(this.value,this)"  }).addClass("form-control").append($("<option></option>").text("لطفا انتخاب نمایید").val(0));



        $.each(ss.options, function (key, value) {

            category.append($("<option></option>").val(value.pcId).text(value.pcName));

        });

        $("#category").append(category);
        }
</script>

}