@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="modal-main">
    <form asp-action="Create" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="category" class="form-group"></div>
        <input type="submit" value="مرحله بعد" class="btn btn-block btn-primary" />
    </form>
</div>

<script>

    let counter = 0;

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/Crm/ProductCategory/GetCategory")",
            method: "GET"
        }).done(function (data) {
            if (data != null && data.options.length != 0) {
                createCategory(data);
            }
        });
    });

    function createCategory(data) {

        let select = $("<select></select>").attr({
            "index": counter++,
            "name": "id"
        }).change(function (elem) {
            counter = parseInt($(this).attr("index")) + 1;
            let deleteLength = elem.target.parentNode.children.length - $(this).attr("index") - 1;
            for (var i = 0; i < deleteLength; i++) {
                elem.target.parentNode.lastChild.remove();
            }
            $.ajax({
                url: "@Url.Content("~/Crm/ProductCategory/GetCategory")",
                method: "GET",
                data: {
                    id: this.value
                }
            }).done(function (data) {
                if (data != null && data.options.length != 0) {
                    createCategory(data);
                }
            });
        }).addClass("form-control").append($("<option></option>").text("انتخاب کنید").val(0));

        $.each(data.options, function (key, value) {
            select.append($("<option></option>").val(value.pcId).text(value.pcName));
        });

        $("#category").append(select);

    }

    @*function loadCustomFields(item) {

        $("#customfields").html("");

        $.ajax({
            url: "@Url.Content("~/Crm/ProductFeatureGroup/GetGroupFields")",
            method: "POST",
            data: {
                cats: item
            }
        }).done(function (Result) {
            $("#customfields").html(Result);
        });

    }*@

</script>
