:root {
    --befoys-primary: #1961AC;
}

body {
    direction: rtl;
    font: 100% Yekan, Tahoma, sans-serif;
}

#menu {
    direction: ltr;
}

.sidebar-header {
    direction: rtl;
}

.side-nav .user-avatar {
    margin-right: 0;
    margin-left: 15px;
}

.dropdown-toggle::after {
    margin-left: 0;
    margin-right: 0.255em;
}

.user-profile .user-detail,
.side-nav .user-detail .dropdown-menu a,
ul.nav-menu .nav-header,
ul.nav-menu li {
    direction: rtl;
    text-align: right;
}

ul.nav-menu li.menu>a {
    border-left: none;
    border-right: 2px solid transparent;
    padding: 15px 20px;
}

ul.nav-menu li.menu>a:before {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

ul.nav-menu li i {
    margin-right: 0;
    margin-left: 12px;
}

.gx-toolbar {
    right: 280px;
    left: 0;
    background-color: var(--befoys-primary);
}

.gx-toolbar .search-bar {
    margin-left: auto;
    margin-right: 100px;
}

.search-bar.right-side-icon input[type="search"] {
    padding-right: 50px;
    padding-left: 16px;
}

.gx-menu-icon .menu-icon:after,
.gx-menu-icon .menu-icon:before {
    right: 0;
}

.sidebar-mobile-menu {
    margin-right: 0;
    margin-left: 15px;
}

.main-header .ellipse-shape {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    height: 100%;
    width: 560px;
}

.main-header .ellipse-shape:after {
    content: "";
    display: block;
    width: 870px;
    position: absolute;
    top: -20px;
    right: -300px;
    height: 280px;
    z-index: 1;
    background-color: hsla(0,0%,100%,.06);
    border-radius: 50% 0 0 50%;
}

.page-heading,
.gx-card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.page-heading .title {
    text-align: right;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
}

ul.nav-menu li.menu.open .sub-menu li.active,
.dark-indigo ul.nav-menu li.menu.open .sub-menu li.active {
    background-color: var(--befoys-primary);
    color: #fff;
    margin-left: 35px;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

ul.nav-menu li.menu.open .sub-menu li.active a:hover,
.dark-indigo ul.nav-menu li.menu.open .sub-menu li.active a:hover {
    background-color: var(--befoys-primary);
    color: #fff;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

ul.nav-menu li a {
    padding: 8px 20px;
}

ul.nav-menu li.menu.open .sub-menu li.active>a {
    font-weight: bold;
}

ul.nav-menu li.menu>a span {
    margin-right: 0;
}

ul.nav-menu li a span {
    margin-right: 35px;
}

ul.nav-menu li.menu>a:before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gx-main-content {
    direction: ltr;
}

.gx-wrapper {
    direction: rtl;
    text-align: right;
    margin-bottom: 0;
}

.page-heading {
    margin-bottom: 24px;
}

#rootwizard-2 {
    margin: 0 2.5%;
}

#rootwizard-2 .wizard-navbar {
    margin-top: 85px;
    margin-bottom: 50px;
}

#rootwizard-2 .wizard-navbar > ul li a span.wz-number {
    margin-top: -78px;
}

#rootwizard-2 .tab-pane h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

#rootwizard-2 .tab-pane h3:first-child {
    margin-top: 50px;
}

#rootwizard-2 .tab-pane hr {
    margin: 40px 0;
}

#rootwizard-2 .tab-pane .form-group.text-row-between {
    padding-top: 14px;
}

#rootwizard-2 .pager {
    padding-right: 0;
    margin-top: 34px;
    margin-bottom: 32px;
}

.custom-control-label::before,
.custom-control-label::after {
    left: initial;
    right: 0;
}

.custom-control {
    padding-left: 0;
    padding-right: 1.5rem;
}

.custom-file-label::after {
    right: initial;
    left: 0;
    border-left: initial;
    border-right: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "انتخاب";
}

.add,
.remove-address {
    margin-right: -5px;
}

.remove-address {
    margin-top: 20px;
    margin-bottom: 10px;
}

.add a,
.remove-address a {
    text-decoration: none;
}

.remove-address a {
    font-size: 18px;
    margin-bottom: 15px;
    color: darkred;
}

.add a i,
.remove-address a i {
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
}

.telephone a i {
    vertical-align: middle;
    color: darkred;
    padding-top: 17px;
    padding-right: 10px;
}

.pager .next > a,
.pager .next > span {
    float: left;
}

.pager .previous > a,
.pager .previous > span {
    float: right;
}

.select2-container .select2-search--inline {
    float: right;
}

#ValueAddedCertificate {
    vertical-align: middle;
    margin-left: 5px;
}

.custom-control.custom-checkbox {
    padding-right: initial;
}

.custom-control-label:before {
    display: none;
}

@media only screen and (max-width: 992px) {
    .gx-toolbar {
        right: 0;
    }
}