@model BEFOYS.DataLayer.Model.TblPermission
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblPermission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PermissionCodeId" class="control-label"></label>
                <input asp-for="PermissionCodeId" class="form-control" />
                <span asp-validation-for="PermissionCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionName" class="control-label"></label>
                <input asp-for="PermissionName" class="form-control" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionDisplay" class="control-label"></label>
                <input asp-for="PermissionDisplay" class="form-control" />
                <span asp-validation-for="PermissionDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionIsFree" class="control-label"></label>
                <input type="checkbox" asp-for="PermissionIsFree" />
                <span asp-validation-for="PermissionIsFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

