
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<div class="main-section-loader">
</div>
<img src="~/images/Logo-Blue.png" alt="logo" class="main-section-blue-logo-spinner" />
<div class="main-section-spinner-backdrop"></div>

<div class="main-section-header">
    <div class="main-section-header-descs">
        <h5 class="main-section-header-title">خانه ما</h5>
        <p class="main-section-header-subtitle">خیلی گشنگه</p>
    </div>
    <div class="main-section-header-icons">
        <i class="fas fa-plus main-section-header-icon"></i>
        <i class="fas fa-ellipsis-v main-section-header-icon" onclick="showHeaderDropdown()"></i>
    </div>
</div>
<div class="main-section-header-dropdown">
    <div class="main-section-header-dropdown1">
        <i class="fas fa-cloud-download-alt main-section-header-dropdown1-icon"></i>
        <a href="" class="main-section-header-dropdown1-text">تمام کارمندان</a>
    </div>
    <div class="main-section-header-dropdown1">
        <i class="fas fa-cloud-download-alt main-section-header-dropdown1-icon"></i>
        <a href="" class="main-section-header-dropdown1-text">تمام مدیران</a>
    </div>
    <div class="main-section-header-dropdown1">
        <i class="fas fa-cloud-download-alt main-section-header-dropdown1-icon"></i>
        <a href="" class="main-section-header-dropdown1-text">تمام مدیران</a>
    </div>
</div>
<div class="main-section-body">

</div>

