
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandingPage</title>
    <link rel="stylesheet" href="~/css/landing.css">
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/fonts/fontawesome-free-5.11.2-web/css/all.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <img src="~/images/logo.png" class="befoys-logo-white" />
    <div class="background"></div>
    <div class="layout">
        <div class="content">
            <div class="picture"></div>
            <div style="left:75px;position:relative">
                <img src="~/images/Logo-Blue.png" class="befoys-logo-blue" />
                <h1>مرکز تامین کنندگان بیفویز</h1>
                <h2>اولین سامانه تخصصی تامین کالا و خدمات واحد های اقامتی و پذیزایی</h2>
                <div class="buttons">
                    <a href="@Url.Action("","")">رفتن به فروشگاه</a>
                    <a href="#" type="button" data-toggle="modal" data-target="#myModal">ورود / ثبت نام</a>

                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
         
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" style="margin-top:30vh">
            <div class="modal-content">
                <form befoys-url="/api/Register/Registeration" befoys-ajax="true" befoys-method="POST" befoys-OnSuccess="OnSuccess" befoys-OnBefore="OnBefore">
                    <div class="float-left clearfix" style="height:140px; width:65%;">
                        <div style="padding-left:10px;padding-right:10px">
                            <div class="form-group">
                                <label class="col-form-label float-right">تلفن همراه</label>
                                <input class="form-control text-center" name="mobile" placeholder="09XXXXXXXXX" required />
                            </div>
                            <button class="btn btn-primary float-left" style="background-color:#1968b3;width:40%;" befoys-ajax="true" type="submit">ورود</button>
                            <button class="btn btn-primary float-right" style="background-color:#1968b3;width:40%;">ورود با ایمیل</button>
                        </div>
                    </div>
                    <div class="float-right" style="height:140px;width:35%;background-color:#1968b3">
                        <img src="~/images/logo.png" style="position:absolute;right:12px;top:55px;width:150px;" />
                    </div>
                    @*<div class="">
                            <button class="btn btn-danger modal-btn-Dual float-right" type="button" data-dismiss="modal">انصراف</button>
                            <button class="btn btn-success modal-btn-Dual float-left" befoys-ajax="true" type="submit">ورود</button>
                        </div>*@
                </form>
            </div>
        </div>
    </div>

    <script>
    function OnSuccess(response) {
        window.location.href = "@Url.Action("Verify")?mobile="+$("input[name=mobile]").val();

    }
    function OnBefore() {
    }
    </script>

</body>
</html>
