@model BEFOYS.DataLayer.Model.TblBrands
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    var countries = ViewBag.Country as List<SelectListItem>;
}

<div class="modal-main">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">نام برند</label>
            <input asp-for="BrandsName" class="form-control text-center" />
            <span asp-validation-for="BrandsName" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="BrandsIsVerify" /> تایید شده
            </label>
        </div>
        <div class="form-group">
            <label class="control-label">مرجع برند</label>
            <select asp-for="BrandsCountryReferenceId" class="form-control  text-center" asp-items="countries" ></select>
            <span asp-validation-for="BrandsCountryReference" class="text-danger"></span>
        </div>

        <input type="submit" value="افزودن" class="btn btn-block btn-primary" />

    </form>

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>